{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block link %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'plugins/video-js/video-js.css' %}"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/blog.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/blog_responsive.css' %}">
{% endblock link %}
{% block content %}
    <!-- Home -->
    <div class="home">
        <div class="breadcrumbs_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="{% url 'pages:index' %}">Home</a>
                                </li>
                                <li>Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner-->
    <div class="container">
        <div style="text-align: center;">
            <img src="{% static 'images/5starroad.png' %}"
                 alt="Website Banner"
                 style="width: 100%;
                        height: auto;
                        max-height: 500px;
                        object-fit: contain">
        </div>
    </div>
    <!--View enrollment-->
    <div class="container">
        <section id="dashboard" class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Welcome {{ user.first_name | title }}</h2>
                        {% if contacts %}
                            <p>Here are the courses that you have applied for</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Course</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contact in contacts %}
                                        <tr>
                                            <td>{{ contact.id }}</td>
                                            <td>{{ contact.course | title }}</td>
                                            <td>
                                                <a class="btn btn-light"
                                                   href="{% url "courses:course" contact.course_id %}">View Course</a>
                                                <button class="btn btn-danger"
                                                        data-url="{% url "contacts:delete_contact" contact.id %}"
                                                        data-toggle="modal"
                                                        data-target="#deleteConfirmModal"
                                                        data-id="{{ contact.id }}">Delete Listing</button>
                                                <a class="btn btn-success"
                                                   href="{% url "contacts:edit_contact" contact.id %}">Edit Listing</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>You have not applied for any course yet</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Delete Modal-->
    <div class="modal fade" id="deleteConfirmModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button class="close" type="button" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure deleting this record?</p>
                    <a class="btn btn-danger" href="" id="confirmDeleteBtn">Yes</a>
                    <button class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/masonry/masonry.js' %}"></script>
    <script src="{% static 'plugins/video-js/video.min.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'js/blog.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock script %}
