{% extends 'base.html' %}
{% load static %}
{% block title %}
    | School - {{ school.title }}
{% endblock title %}
{% block link %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'plugins/colorbox/colorbox.css' %}"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/blog_single.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/blog_single_responsive.css' %}">
{% endblock link %}
{% block content %}
    <!-- Home (breadcrumbs)-->
    <div class="home">
        <div class="breadcrumbs_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="{% url 'pages:index' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'schools:schools' %}">Schools</a>
                                </li>
                                <li>{{ school.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- School -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-lg-8">
                    <div class="blog_content">
                        <div class="blog_title">{{ school.title }}</div>
                        <div class="blog_image">
                            <img src="{{ school.photo_main.url }}" alt="">
                        </div>
                        <div class="blog_subtitle">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Address: {{ school.address }}
                        </div>
                        <div class="blog_subtitle">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Facility:
                        </div>
                        <div class="blog_images">
                            <div class="row">
                                <div class="col-lg-6 blog_images_col">
                                    <div class="blog_image_small">
                                        <img src="{{ school.photo_1.url }}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 blog_images_col">
                                    <div class="blog_image_small">
                                        <img src="{{ school.photo_2.url }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_extra d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                        <div class="blog_social ml-lg-auto">
                            <span>Share:</span>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Blog Sidebar -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <!-- Categories -->
                        <div class="sidebar_section">
                            <div class="sidebar_section_title">Information</div>
                            <div class="sidebar_categories">
                                <ul class="categories_list">
                                    <li>
                                        <a href="#" class="clearfix">District:<span>{{ school.district }}</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">Classroom:<span>{{ school.room_num }}</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">Office Hour<span>{{ school.office_hr }}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Latest Course -->
                        <div class="sidebar_section">
                            <div class="sidebar_section_title">Popular Courses</div>
                            <div class="sidebar_latest">
                                <!-- Latest Course -->
                                {% if courses %}
                                    {% for course in courses %}
                                        <div class="latest d-flex flex-row align-items-start justify-content-start">
                                            <div class="latest_image">
                                                <div>
                                                    <img src="{{ course.photo_main.url }}" alt="">
                                                </div>
                                            </div>
                                            <div class="latest_content">
                                                <div class="latest_title">
                                                    <a href="course.html">{{ course.title }}</a>
                                                </div>
                                                <div class="latest_price">${{ course.price }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- Gallery -->
                        <div class="sidebar_section">
                            <div class="sidebar_section_title">Instagram</div>
                            <div class="sidebar_gallery">
                                <ul class="gallery_items d-flex flex-row align-items-start justify-content-between flex-wrap">
                                    <li class="gallery_item">
                                        <div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
                                        <a class="colorbox" href="{% static 'images/ig1.png' %}">
                                            <img src="{% static 'images/ig1.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li class="gallery_item">
                                        <div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
                                        <a class="colorbox" href="{% static 'images/ig2.png' %}">
                                            <img src="{% static 'images/ig2.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li class="gallery_item">
                                        <div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
                                        <a class="colorbox" href="{% static 'images/ig3.png' %}">
                                            <img src="{% static 'images/ig3.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li class="gallery_item">
                                        <div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
                                        <a class="colorbox" href="{% static 'images/ig4.png' %}">
                                            <img src="{% static 'images/ig4.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li class="gallery_item">
                                        <div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
                                        <a class="colorbox" href="#">
                                            <img src="#" alt="">
                                        </a>
                                    </li>
                                    <li class="gallery_item">
                                        <div class="gallery_item_overlay d-flex flex-column align-items-center justify-content-center">+</div>
                                        <a class="colorbox" href="#">
                                            <img src="#" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Tags -->
                        <div class="sidebar_section">
                            <div class="sidebar_section_title">Tags</div>
                            <div class="sidebar_tags">
                                <ul class="tags_list">
                                    <li>
                                        <a href="#">DSE</a>
                                    </li>
                                    <li>
                                        <a href="#">5**</a>
                                    </li>
                                    <li>
                                        <a href="#">Universtiy</a>
                                    </li>
                                    <li>
                                        <a href="#">Work hard, Play hard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'js/blog_single.js' %}"></script>
{% endblock script %}
