{% extends 'base.html' %}
{% load static %}
{% block title %}
    | Schools
{% endblock title %}
{% block link %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'plugins/video-js/video-js.css' %}"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/blog.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/blog_responsive.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock link %}
{% block content %}
    <!-- Home -->
    <div class="home">
        <div class="breadcrumbs_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="{% url 'pages:index' %}">Home</a>
                                </li>
                                <li>Schools</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_post_container">
                        <!-- Blog Post -->
                        {% for school in schools %}
                            <div class="blog_post trans_200">
                                <div class="blog_post_image">
                                    <img src="{{ school.photo_main.url }}" alt="">
                                </div>
                                <div class="blog_post_body">
                                    <div class="blog_post_title">
                                        <a href="{% url 'schools:school' school.id %}">{{ school.title }}</a>
                                    </div>
                                    <div class="blog_post_meta">
                                        <div class='container'>
                                            <p>
                                                <i class="fas fa-map-marker-alt"></i> {{ school.district }}
                                            </p>
                                            <p>
                                                <i class="far fa-clock"></i> {{ school.office_hr }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="blog_post_text">
                                        <p>
                                            Welcome to {{ school.title }}, a premier school in {{ school.district }}. We offer a comprehensive curriculum that covers all subjects, from elementary to high school. Our dedicated teachers are committed to providing a positive and enriching learning experience for each student.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="load_more trans_200">
                        <a href="#">load more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/masonry/masonry.js' %}"></script>
    <script src="{% static 'plugins/video-js/video.min.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'js/blog.js' %}"></script>
{% endblock script %}
